* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html,
#root {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #323232;
    color: whitesmoke;
}


.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;


}

.note {
    background: #444;
    width: 20rem;
    height: 10rem;
    border-radius: 0.4rem;
    padding: 1rem;


}

.title {
    color: rgb(255, 227, 216);
}
