*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body{
  height: 100%;
  width: 100%;

}

body{
  background: rgb(39, 38, 38);
  color: lightblue;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading{
  margin: auto;
  background: rgb(32, 57, 66);
  padding: 1rem 2rem;
}

.notes{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}


.note{
  background: rgb(57, 56, 56);
  color: rgb(241, 233, 240);
  padding: 1rem;
  border-radius: 0.5rem;
}

h3{
  color: antiquewhite;
}

p{
  font-size: 1.2rem;
}


form{
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

input , button{
  padding: 0.5rem;
  
 
}
.btns{
  padding-block: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}