.form-Container{
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid gray;
    h2{
        color: rgb(244, 4, 28);
        font-weight: 500;
        
    }
    .formGroup{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        .label{
           color: rgb(255, 0, 72);
        }
        .input{
            padding: 0.2rem;
        }

    }

    p{
        font-size: 0.7rem;
    }
}